<!DOCTYPE html>
<html lang="<$= locale $>">
<head>
  <title><$= __("page-title-pi") $></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="og:title" content="IBM Watson Personality Insights">
  <meta name="og:description" content="Gain insight into how and why people think, act, and feel the way they do. This service applies linguistic analytics and personality theory to infer attributes from a person's unstructured text.">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- top level heading -->

  <div class="_demo--banner">
    <div class="_demo--container">
      <div class="banner--service-icon-container">
        <img class="banner--service-icon" src="images/service-icon.svg" alt="Personality Insights API Icon">
      </div>
      <div class="banner--service-info">
        <h1 class="banner--service-title base--h1">
          <img class="banner--service-icon_INLINE" src="images/service-icon.svg" alt="Personality Insights API Icon"> <$= __("header-title-pi") $>
        </h1>
        <div class="banner--service-description">
          <$= __("header-description") $>
        </div>
      </div>
    </div>
  </div>
